<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <!-- fontLoader base64 -->
  <script>function fontLoader(a,b,c){function d(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")');return a.load(),"loading"===a.status}var e=navigator.userAgent,f=!window.addEventListener||e.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!e.match(/Chrome/);if(!f){var g={};try{g=localStorage||{}}catch(h){}var i="x-font-"+a,j=i+"url",k=i+"css",l=g[j],m=g[k],n=document.createElement("style");if(n.rel="stylesheet",document.head.appendChild(n),!m||l!==b&&l!==c){var o=c&&d()?c:b,p=new XMLHttpRequest;p.open("GET",o),p.onload=function(){p.status>=200&&p.status<400&&(g[j]=o,g[k]=n.textContent=p.responseText)},p.send()}else n.textContent=m}}</script>
  <script>fontLoader('Roboto', '{{assetPath("fonts/roboto.woff.css")}}', '{{assetPath("fonts/roboto.woff2.css")}}')</script>
  <meta charset="utf-8" />
  <title>{{ pageName }} - Prowly Landing Page</title>
  <link rel="stylesheet" property="stylesheet" href="{{ revisionedPath('styles/main.css') }}" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.querySelector('html').classList.remove('no-js');</script>
  {% if hasVendor() %}
    <script src="{{ revisionedPath('scripts/vendor.js') }}" defer></script>
  {% endif %}
  {% if hasWebpackManifest() %}
    <script>
      (function() {
        var p = '{{ getScriptsPath() }}';
        var wm = window.webpackManifest = {{ getWebpackManifest() }};
        Object.keys(wm).forEach(function(n){wm[n]=p+wm[n]});
      })();
    </script>
  {% endif %}
  <script src="{{ revisionedPath('scripts/app.bundle.js') }}" defer></script>

  {% block head %}
  {% endblock %}
</head>

<body class="{{body_class}}">
  {% block header %}
    {% include 'components/header.twig' %}
  {% endblock %}


  <main class="o-wrapper">
    {% block content %}
      Sorry, no content
    {% endblock %}
  </main>

  {% block footer %}
    {% include 'components/footer.twig' %}
  {% endblock %}
</body>
</html>
